//site color variables
$body-color: #FFF;
$bg-color:#716EF6;
$primary-color: #5C9DFF;
$secondary-color: #5477F8;
$text-color: #5C5C5C;
$text-color-dark: #3B3B40;
$site-ease: cubic-bezier(0.77, 0, 0.175, 1);
$border-color: #EDEDF4;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Poppins',sans-serif;